.profile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 74px);
  padding: 74px 0 70px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__edit-form {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-top: 109px;
}

.profile__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input-container:last-child {
  border: 0;
}

.profile__input-label {
  flex-shrink: 0;
}

.profile__input {
  width: 100%;
  padding: 16px 0;
  border: 0;
  background: 0;
  color: inherit;
  font-size: 11px;
  line-height: 13px;
  font-family: inherit;
  text-align: right;
}

.profile__input:focus {
  outline: 0;
}

.profile__input-error {
  height: 12px;
  margin-top: 6px;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.profile__response-message {
  margin-bottom: 16px;
  color: #ee3465;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.profile__response-message_type_success {
  color: #3ddc84;
}

.profile__submit-button {
  margin-top: 16px;
  padding: 0;
  border: 0;
  background: 0;
  color: inherit;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
  cursor: pointer;
}

.profile__submit-button:disabled {
  opacity: 0.2;
}

.profile__logout-link {
  margin-top: 16px;
  color: #ee3465;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding: calc((100vh - 554px) / 2) 0 calc((100vh - 486px) / 2);
  }

  .profile__edit-form {
    margin-top: 82px;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-form {
    width: 260px;
    margin-top: 109px;
  }

  .profile {
    justify-content: space-between;
    padding: 70px 0 40px;
  }

  .profile__edit-form {
    margin-top: 66px;
  }

  .profile__response-message {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__submit-button {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout-link {
    font-size: 12px;
    line-height: 15px;
  }
}
