.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  color: #fff;
}

.section-content {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
}

@media screen and (max-width: 1279px) {
  .section-content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-content {
    padding: 0 14px;
  }
}
