.movie-search {
  padding: 70px 0 10px;
}

.movie-search__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
}

.movie-search__form {
  width: 100%;
  padding-bottom: 44px;
  border-bottom: 1px solid #aaaaaa32;
}

.movie-search__input-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 26px;
  padding: 8px;
  border: 2px solid #aaaaaa32;
  border-radius: 8px;
}

.movie-search__input-group_focused {
  border: 2px solid #aaaaaa;
}

.movie-search__input {
  width: 100%;
  padding: 16px;
  border: 0;
  background-color: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
}

.movie-search__input::placeholder {
  color: #8b8b8b;
}

.movie-search__input:focus {
  outline: 0;
}

.movie-search__submit-button {
  flex-shrink: 0;
  width: 100px;
  height: 52px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: #4285f4;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  transition: opacity 250ms ease-in-out;
}

.movie-search__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .movie-search__content {
    padding: 0 30px;
  }

  .movie-search__form {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 767px) {
  .movie-search__content {
    padding: 0 14px;
  }

  .movie-search__form {
    padding-bottom: 63px;
  }

  .movie-search__input-group {
    margin-bottom: 30px;
    padding: 4px;
  }

  .movie-search__input {
    padding: 6px;
    font-size: 16px;
    line-height: 16px;
  }

  .movie-search__submit-button {
    width: 80px;
    height: 44px;
  }
}
