.header {
  height: 74px;
  background-color: #073042;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 70px;
}

.header__logo {
  margin-top: 18px;
}

@media screen and (max-width: 1279px) {
  .header__content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    padding: 0 14px;
  }
}
