.register {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
  min-height: 100vh;
  padding: 70px 0;
}

.register__container {
  display: flex;
  flex-direction: column;
}

.register__logo {
  width: 38px;
}

.register__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__input-container {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.register__input-container:first-of-type {
  margin: 0;
}

.register__input-label {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.register__input {
  padding: 5px 0 10px;
  border: 0;
  border-bottom: 1px solid #424242;
  background: 0;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
}

.register__input:focus {
  border-bottom: 1px solid #4285f4;
  outline: 0;
}

.register__error {
  margin-top: 6px;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
}

.register__submit-button {
  height: 45px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background-color: #4285f4;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
}

.register__submit-button:disabled {
  opacity: 0.2;
}

.register__footer-link {
  margin-top: 16px;
  color: #4285f4;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
}

.register__footer-link-span {
  margin-right: 6px;
  color: #8b8b8b;
}

@media screen and (max-width: 1279px) {
  .register {
    min-height: 560px;
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .register {
    width: 260px;
    min-height: 100vh;
    padding: 56px 0 30px;
  }
  .register__logo {
    align-self: center;
    width: 38px;
  }
  .register__title {
    align-self: center;
    margin: 50px 0 80px;
  }
  .register__submit-button {
    font-size: 12px;
    line-height: 15px;
  }
  .register__footer-link {
    font-size: 12px;
    line-height: 15px;
  }
}
