.app-header {
  width: 100%;
  height: 74px;
}

.app-header__content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 70px;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-header__nav-content {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.app-header__nav-link {
  box-sizing: border-box;
  color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;
}

.app-header__nav-link:hover {
  opacity: 0.7;
}

.app-header__nav-link_active {
  font-weight: 500;
}

.app-header__profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.app-header__profile-link:hover {
  opacity: 0.7;
}

.app-header__profile-icon {
  padding: 9px;
  border-radius: 6px;
  background-color: #313131;
}

@media screen and (max-width: 1279px) {
  .app-header__content {
    grid-template-columns: 1fr min-content;
    padding: 0 30px;
  }
  .app-header__menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
  }
}

@media screen and (max-width: 767px) {
  .app-header__content {
    padding: 0 14px;
  }
}
